.container-header {
    display: flex;
    background-color: aliceblue;
    color: aqua;
    justify-content: space-between;
    text-align: center;
    
}
.logo { 
    display: flex;
}
.header-components { 
    display: inline;
    justify-content: space-between;
    background-color: black;
    width: 30px;
    height: 30px;
}
.link-container{
    display: inline;
    justify-content: space-around;
    width: 70px;
    height: 70px;
   
}
.cart-header { 
    display: inline;
}

a { 
    text-decoration: none;
}